body {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

/* header landing page */

.hero-header {
  height: 60px;
  width: 100%;
  background-color: rgba(226, 216, 217, 0.7);
}

.hero-header-wrapper {
  max-width: 1280px;
  height: 100%;
  display: -webkit-box;
  margin: 0 auto;
}

.hero-header-blank-left {
  width: 33%;
}

.hero-header-logo {
  width: 33%;
  text-align: center;
}

.hero-header-logo img {
  height: 100px;
  margin-top: 28px;
}

.hero-header-nav {
  width: 33%;
  text-align: right;
}

.hero-header-nav a {
  padding: 10px 30px;
  display: inline-block;
  background: white;
  border-radius: 6px;
  color: grey;
  text-decoration: none;
  transition: 0.05s ease-in;
  margin-top: 7.5px;
  border: 1px solid grey;
  font-weight: 300;
  font-size: 18px;
}

.hero-header-nav a:hover {
  color: black;
}

/* hero section */

.hero-section {
  max-width: 1280px;
  margin: 0 auto;
}

.hero-section-wrapper {
  color: white;
  font-weight: bold;
  width: 60%;
  margin: 0 auto;
  padding-top: 15%;
}

.hero-section-title {
  letter-spacing: 3px;
  font-size: 18px;
  opacity: 0.85;
}

.hero-section-info-line {
  font-size: 60px;
  letter-spacing: 10px;
  line-height: 70px;
}

.info-line-letter1,
.info-line-letter3 {
  border-bottom: 2px solid white;
  opacity: 0.85;
}

.info-line-letter2 {
  font-size: 30px;
  opacity: 0.85;
}

.hero-section-regbtn {
  padding-top: 5px;
}

.hero-section-regbtn a {
  background: rgba(80, 226, 102, 0.9);
  color: white;
  letter-spacing: 3px;
  font-size: 16px;
  text-decoration: none;
  padding: 18px 28px;
  display: inline-block;
  border-radius: 4px;
  margin-left: 112px;
}

/* footer landing page*/

.hero-footer {
  text-align: center;
  color: white;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 16px;
  opacity: 0.9;
  position: absolute;
  bottom: 50px;
  right: 0;
  left: 0;
}

.hero-footer-wrapper span {
  border-bottom: 1px solid;
  display: inline-block;
  padding: 5px 50px;

}


/* elemental */

/* header elemental */

.c-header {
  height: 60px;
  width: 100%;
  background-color: #E2D8D9;
}

.c-header-wrapper {
  max-width: 1280px;
  height: 100%;
  display: -webkit-box;
  margin: 0 auto;
}

.c-header-logo-title {
  width: 33%;
}

.c-header-logo-title span {
  //color: #C3B4B6;
  color: grey;
  display: inline-block;
  padding: 18px 0;
  letter-spacing: 2.5px;
  font-size: 20px;
  font-weight: 300;
}

.c-header-logo {
  width: 33%;
  text-align: center;
}

.c-header-logo img {
  height: 100px;
  margin-top: 18px;
  border: 10px solid white;
  border-radius: 70px 70px 0 0;
}

.c-header-nav {
  width: 33%;
}

.c-header-nav ul li {
  list-style: none;
  display: inline-block;
  margin-top: 2.5px;
}

.c-header-nav ul li a {
  color: grey;
  text-decoration: none;
  padding: 25px 15px;
  transition: 0.03s ease-in;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 300;
}

.c-header-nav ul li:nth-child(1) a {
  padding-left: 0;
}

.c-header-nav ul li a:hover {
  text-decoration: underline;
  color: black;
}

/* footer elemental */

.c-footer {
  width: 100%;
  margin-top: 100px;
  padding: 0 0 10px;
  text-align: center;
  border-top: 0.5px solid grey;
}

.c-footer-nav ul li {
  display: inline-block;
  list-style: none;
  color: grey;
}

.c-footer-nav ul li:nth-child(2n) {
  padding: 0 22px;
}

.c-footer-nav ul li a {
  color: grey;
  transition: 0.03s ease-in;
  text-decoration: none;
}

.c-footer-nav ul li a:hover {
  color: black;
  text-decoration: underline;
}

/* mein profile page */

/* profile section */

.profile-section {
  width: 100%;
}

.profile-section-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 110px 0;
  display: -webkit-box;
}

.profile-section-image-upload {
  width: 50%;
  text-align: right;
}

.profile-section-image-wrapper {
  text-align: right;
  position: relative;
  height: 300px;
}

.profile-section-image-display-bg {
  height: 300px;
  width: 240px;
  position: absolute;
  right: 50px;
  background: grey;
}

.profile-section-image-display {
  height: 300px;
  width: 240px;
  position: absolute;
  right: 50px;
  overflow: hidden;
  background: grey;
  transform: rotate(-2.5deg);
}

.profile-section-image-display img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(6px);
}

.profile-section-upload-icon-wrapper {
  position: absolute;
  z-index: 1;
  width: 80px;
  right: 130px;
  top: 115px;
}

.profile-section-upload-icon-wrapper img {
  width: 100%;
}

.profile-section-image-upload-btn input {
  border: none;
  font-size: 16px;
  width: 240px;
  margin-right: 50px;
  padding: 20px 0;
  margin-top: 10px;
  letter-spacing: 3px;
  background: #F5E069;
  border: 0.5px solid grey;
}

.profile-section-info {
  width: 45%;
}

.profile-edit-section {
  display: -webkit-box;
  padding: 7.5px 0;
}

.profile-edit-section:nth-child(1) {
  padding-top: 0;
}

.profile-edit-section:last-child {
  padding-bottom: 0;
}

.profile-edit-section-title {
  width: 50%;
  font-size: 19px;
}

.profile-edit-section-title-edit {
  float: left;
  height: 20px;
  padding-right: 10px;
  padding-top: 2px;
}

.profile-edit-section-title-detail {
  width: 50%;
  text-align: right;
  font-weight: 300;
  color: grey;
  font-size: 17px;
}

.profile-section-delete-profile {
  padding-left: 30px;
  padding-top: 30px;
}

.profile-section-delete-profile a {
  color: grey;
}

/* find section */

.find-section {
  width: 100%;
  padding-top: 100px;
}

.find-section-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.find-section-title {
  text-align: center;
  font-size: 18px;
  opacity: 0.8;
  letter-spacing: 2.5px;
  padding-bottom: 30px;
}

.find-section-title img {
  height: 13px;
}
.find-result-wrapper{
  max-width: 330px;
  height: 450px;
  margin:0 auto;
  overflow-y: hidden;
  overflow-x: hidden;
  display: -webkit-box;
  padding:20px 0 0;
}
.find-result-op{
  width:100%;
  height: 450px;
  position: relative;
}
.find-result-op-img{
  max-width: 280px;
  height:350px;
  margin: 0 auto;
  transform: rotate(-2.5deg);
  border:7px solid #CCBFC0;
  border-radius: 7px;
}
.find-result-op-img-bg{
  width: 280px;
  height:350px;
  background: #F2EEEF;
  position: absolute;
  left:20px;
}
.find-result-op-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.find-result-op-likes{
  position: absolute;
  z-index: 10;
  top: 22px;
  left: 28px;
  background: rgba(0,0,0,0.8);
  color: white;
  font-size: 20px;
  padding:10px 15px;
  border-radius: 7px;
}
.find-result-op-likes img{
  height: 30px;
  float: left;
  margin: 0 10px 0 0;
  opacity: 0.8;
}
.find-result-op-likes span{
  float: left;
  margin-top: 2.5px;
}
.find-result-op-options{
  display: -webkit-box;
  margin-top: -30px;
  position: absolute;
  left: 52.5px;
}
.find-result-op-options button{
  outline: none;
  border: none;
  background: transparent;
}
.find-result-op-options button:nth-child(1){
}
.find-result-op-options button:nth-child(2) {
  margin-top: -10px;
  padding:0 10px;
}
.find-result-op-options button:nth-child(3) {
  float: right;
}
.find-result-op-options img{
  border-radius: 150px;
  height: 60px;
}

.find-result-op-options button:nth-child(2) img{
  border-radius: 150px;
  height: 80px;
}

.find-result-op-info{
  text-align: center;
  font-size: 17px;
  letter-spacing: 2px;
  opacity: 0.9;
  margin-top: 65px;
}

/* contact page */
.contact-section{
  width: 100%;
  padding-top: 150px;
}

.contact-section-wrapper{
  max-width: 320px;
  margin:0 auto;
}

.contact-section-tagline{
  font-size: 20px;
  color: grey;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 2.9px;
  text-align: justify;
}

.contact-section-form {
  //max-width: 320px;
  margin-top: 32px;
}

.contact-section-form  form input[type=email]{
  width: 300px;
  padding:10px;
  color: grey;
  font-size: 18px;
  font-weight: 300;
}

.contact-section-form  form textarea{
  width: 300px;
  padding:10px;
  color: grey;
  font-size: 18px;
  font-weight: 300;
  height: 140px;
  resize: none;
  margin:14px 0 9px;
}

.contact-section-form  form input[type=submit]{
  width: 100%;
  padding:20px 0;
  color: grey;
  font-size: 18px;
  font-weight: 300;
  background: #F5E069;
  color: black;
  border:0.5px solid grey;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 300;
}

/* payment page */
.payment-section{
  width: 100%;
  margin-top: 120px;
}

.payment-section-wrapper{
  max-width: 1050px;
  margin:0 auto;
}

.payment-section-tagline{
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 300;
  line-height: 30px;
  color: grey;
}

.payment-section-tagline a{
  color:orange;
  text-decoration: none;
}

.payment-section-tagline a:hover{
  text-decoration: underline;
}

.payment-section-packages{
  margin-top: 100px;
}

.payment-section-packages-title {
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;
}

.payment-section-packages-option{
  display: -webkit-box;
  margin-top: 25px;
}

.package-display{
  background: #E2D8D9;
  padding:20px 35px 10px;
  position: relative;
}
.package-name{
  text-align: center;
  letter-spacing: 2.5px;
  font-size: 17px;
  font-weight: bold;
}
.package-specifications{
  color: grey;
  font-weight: 300;
  line-height: 32px;
  font-size: 18px;
  letter-spacing: 2.5px;
  margin-top: 30px;
}
.packages-hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #ccc;
  margin: 1em 0;
  padding: 0; 
  margin: 20px 0;
}
.package-price{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 3px;
  opacity: 0.9;
}
.has-margin{
  margin-left: 35px;
}
.package-display-popular-tag{
  position: absolute;
  right: -55px;
  top: -45px;
  background:#5EDCB7;
  color: white;
  height: 120px;
  width: 120px;
  border-radius: 100px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 16px;
}
.package-display-popular-tag p{
  padding: 35px 0;
}

.payment-section-payment-options{
  margin-top: 65px;
}

.payment-options-tagline{
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 20px;
}

.payment-options-links{
  display: -webkit-box;
}

.payment-options-links .payment-op:nth-child(2) {
  margin:0 30px;
}

.payment-options-links .payment-op:nth-child(3) {
  margin-right: 30px;
}
.payment-options-links .payment-op:nth-child(4) img{
  margin-top: 15px;
}

.payment-op{
  max-width: 240px;
  background: #E2D8D9;
  text-align: center;
  padding:15px 0;
  border-radius: 5px;
}
.payment-op img{
  width: 70%;
}

/* mailbox section */
.mailbox-section{
  width: 100%;
  margin-top: 125px;
  text-align: center;
}
.mailbox-section-wrapper{
  max-width: 750px;
  margin:0 auto;
}
.mailbox-section-title{
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 10px;
  opacity: 0.85;
}
.mailbox-section-tagline{
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 4px;
  line-height: 35px;
  margin:10px 0;
  color: grey;
}
.mailbox-section-start-btn a{
  padding:30px 50px;
  display: inline-block;
  background:#F5E069;
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight:bold;
  margin-top: 15px;
  border:0.5px solid grey;
}

























