body {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

/* header landing page */

.hero-header {
  height: 60px;
  width: 100%;
  background-color: rgba(226, 216, 217, 0.7);
}

.hero-header-wrapper {
  max-width: 1280px;
  height: 100%;
  display: -webkit-box;
  margin: 0 auto;
}

.hero-header-blank-left {
  width: 33%;
}

.hero-header-logo {
  width: 33%;
  text-align: center;
}

.hero-header-logo img {
  height: 100px;
  margin-top: 28px;
}

.hero-header-nav {
  width: 33%;
  text-align: right;
}

.hero-header-nav a {
  padding: 10px 30px;
  display: inline-block;
  background: white;
  border-radius: 6px;
  color: grey;
  text-decoration: none;
  transition: 0.05s ease-in;
  margin-top: 7.5px;
  border: 1px solid grey;
  font-weight: 300;
  font-size: 18px;
}

.hero-header-nav a:hover {
  color: black;
}

/* hero section */

.hero-section {
  max-width: 1280px;
  margin:0 auto;
}

.hero-section-wrapper {
  color: white;
  font-weight: bold;
  width: 60%;
  margin: 0 auto;
  padding-top: 15%;
}

.hero-section-title{
  letter-spacing: 3px;
  font-size: 18px;
  opacity:0.85;
}

.hero-section-info-line {
  font-size: 60px;
  letter-spacing: 10px;
  line-height: 70px;
}

.info-line-letter1, .info-line-letter3 {
  border-bottom: 2px solid white;
  opacity:0.85;
}

.info-line-letter2 {
  font-size: 30px;
  opacity:0.85;
}

.hero-section-regbtn{
  padding-top: 5px;
}

.hero-section-regbtn a{
  background: rgba(80,226,102,0.9);
  color: white;
  letter-spacing: 3px;
  font-size: 16px;
  text-decoration: none;
  padding: 18px 28px;
  display: inline-block;
  border-radius: 4px;
  margin-left: 112px;
}

/* footer landing page*/

.hero-footer{
  text-align: center;
  color: white;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 16px;
  opacity: 0.9;
  position: absolute;
  bottom: 50px;
  right: 0;
  left: 0;
  
}

.hero-footer-wrapper span {
  border-bottom: 1px solid;
  display: inline-block;
  padding: 5px 50px;
  
}























