body {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

/* header landing page */

.hero-header {
  height: 60px;
  width: 100%;
  background-color: rgba(226, 216, 217, 0.7);
}

.hero-header-wrapper {
  max-width: 1280px;
  height: 100%;
  display: -webkit-box;
  margin: 0 auto;
}

.hero-header-blank-left {
  width: 33%;
}

.hero-header-logo {
  width: 33%;
  text-align: center;
}

.hero-header-logo img {
  height: 100px;
  margin-top: 28px;
}

.hero-header-nav {
  width: 33%;
  text-align: right;
}

.hero-header-nav a {
  padding: 10px 30px;
  display: inline-block;
  background: white;
  border-radius: 6px;
  color: grey;
  text-decoration: none;
  transition: 0.05s ease-in;
  margin-top: 7.5px;
  border: 1px solid grey;
  font-weight: 300;
  font-size: 18px;
}

.hero-header-nav a:hover {
  color: black;
}

/* hero section */

.hero-section {
  max-width: 1280px;
  margin: 0 auto;
}

.hero-section-wrapper {
  color: white;
  font-weight: bold;
  width: 60%;
  margin: 0 auto;
  padding-top: 15%;
}

.hero-section-title {
  letter-spacing: 3px;
  font-size: 18px;
  opacity: 0.85;
}

.hero-section-info-line {
  font-size: 60px;
  letter-spacing: 10px;
  line-height: 70px;
}

.info-line-letter1,
.info-line-letter3 {
  border-bottom: 2px solid white;
  opacity: 0.85;
}

.info-line-letter2 {
  font-size: 30px;
  opacity: 0.85;
}

.hero-section-regbtn {
  padding-top: 5px;
}

.hero-section-regbtn a {
  background: rgba(80, 226, 102, 0.9);
  color: white;
  letter-spacing: 3px;
  font-size: 16px;
  text-decoration: none;
  padding: 18px 28px;
  display: inline-block;
  border-radius: 4px;
  margin-left: 112px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
.hero-section-regbtn a:before{
  content: " ";
  position: absolute;
  background: rgba(255,255,255,0.5);
  left: -50px;
  height: 150%;
  top: -10px;
  width: 25px;
  transform: rotate(-25deg);
  animation: movable 2.8s infinite;
}
@keyframes movable{
  from{
    left: -250px;
  }
  to {
    left: 450px;
  }
}

.showloginform{
  padding:0px!important;
  border-top:4px solid #d13248;
  border-right:1px solid blue;
  border-left:1px solid blue;
  border-bottom:1px solid blue;
}
.buttoncontainer{
  width: 100%;
}
.buttoncontainer button{
  width: 49%;
  display: inline-block;
  outline: none;
  border: none;
  padding:10px 0;
  font-size: 17px;
  letter-spacing: 2.3px;
  font-weight: 600;
}

.panel-login{
  padding:30px;
}

.login-form{
  width: 100%;
}
.login-form-input{
  display: -webkit-box;
}
.login-form-input-icon{
  background: #d13248;
  width: 50px;
  height: 45px;
  border-radius: 6px 0px 0px 6px;
}
.login-form-input-icon img{
  width: 52%;
  margin-top: 9.5px;
  margin-left: 13px;
}
.login-form-input-box{
  height:40.92px;
  width: 370px;
}
.login-form-input-box input{
  height: 100%;
  padding-left: 10px;
  color: grey;
  width: 100%;
  outline: none;
  border:1px solid grey;
  border-radius: 0 6px 6px 0;
}
.login-form-input-input input::-webkit-input-placeholder{
  color: grey;
}
.has-margin-top{
  margin: 20px 0 15px;
}
.login-form-forget-password{
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 600;
}
.login-form-forget-password a{
  color: black;
  transition: 0.05s ease-in;
}
.login-form-forget-password a:hover{
  color: #d13248;
}
.login-form-logged-in{
  display: -webkit-box;
  margin-top: 15px;
}
.login-form-remember-me{
  width: 49.6%;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0,0,0,0.8);
  letter-spacing: 1px;
  margin-top: 10px;
}
.login-form-remember-me input[type=checkbox] {
  float: left;
  margin-top: 3.5px;
  margin-right: 7px;
}
.login-form-login-btn{
  width: 49.6%;
  text-align: right;
}
.login-form-login-btn input{
  background:#d13248;
  border:none;
  outline: none;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  padding:12.5px 40px;
  border-radius: 5px;
}

.panel-registration{
  padding:30px;
}
.panel-registration-tagline{
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 22px;
}
.panel-registration-tagline2{
  margin-top: 10px;
}

.registration-form{
  width: 100%;
}
.registration-form-input{
  display: -webkit-box;
}

.registration-form-input-icon{
  background: #d13248;
  width: 50px;
  height: 45px;
  border-radius: 6px 0px 0px 6px;
}
.registration-form-input-icon img{
  width: 52%;
  margin-top: 9.5px;
  margin-left: 13px;
}
.registration-form-input-box{
  height:40.92px;
  width: 370px;
}
.registration-form-input-box input{
  height: 100%;
  padding-left: 10px;
  color: grey;
  width: 100%;
  outline: none;
  border:1px solid grey;
  border-radius: 0 6px 6px 0;
}
.registration-form-input-input input::-webkit-input-placeholder{
  color: grey;
}
.has-margin-top{
  margin: 20px 0 15px;
}
.registration-form-logged-in{
  display: -webkit-box;
  margin-top: 15px;
}
.registration-form-login-btn{
  width: 49.6%;
  text-align: right;
}
.registration-form-login-btn input{
  background:#d13248;
  border:none;
  outline: none;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  padding:12.5px 40px;
  border-radius: 5px;
}
.registration-info{
  background: #F4F4F4;
  width:438px;
  margin-left: -30px;
  padding:20px 30px;
  color: black;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 16px;
  margin-top: 25px;
}

.is-uncopy{
  user-select: none;
}

.registration-btn input{
  background:#d13248;
  border:none;
  outline: none;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  padding:12.5px 40px;
  border-radius: 5px;
  float: right;
  margin-top: 25px;
  margin-bottom: 30px;
}

.registration-form-dob-wrapper{
  width: 436px;
}

.registration-form-dob-wrapper input{
  font-size: 16px;
  padding:10px;
  color: grey;
  outline:none;
  width: 20%;
  letter-spacing:1px;
  border-radius: 5px;
  border: 1px solid grey;
}

.registration-form-dob-wrapper input[type=number]::-webkit-inner-spin-button,
.registration-form-dob-wrapper input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.registration-form-dob-wrapper select{
  padding: 10px;
  font-size: 16px;
  color: grey;
  outline:none;
  width: 36%;
  letter-spacing:1px;
  border-radius: 5px;
  border: 1px solid grey;
}

.registration-form-gender-wrapper{
  width: 450px;
  display: -webkit-box;
}

.registration-form-gender-elements{
  width: 33%;
  color: grey;
  font-size: 17px;
  letter-spacing: 2px;
  color: grey
}

.errorpass{
  display: block;
  font-size: 17px;
  font-weight: 500;
  color: #d13248;
}































/* footer landing page*/

.hero-footer {
  text-align: center;
  color: white;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 16px;
  opacity: 0.9;
  position: absolute;
  bottom: 50px;
  right: 0;
  left: 0;
}

.hero-footer-wrapper span {
  border-bottom: 1px solid;
  display: inline-block;
  padding: 5px 50px;

}


/* elemental */

/* header elemental */

.c-header {
  height: 60px;
  width: 100%;
  background-color: #E2D8D9;
}

.c-header-wrapper {
  max-width: 1280px;
  height: 100%;
  display: -webkit-box;
  margin: 0 auto;
}

.c-header-logo-title {
  width: 33%;
}

.c-header-logo-title span {
  //color: #C3B4B6;
  color: grey;
  display: inline-block;
  padding: 18px 0;
  letter-spacing: 2.5px;
  font-size: 20px;
  font-weight: 300;
}

.c-header-logo {
  width: 33%;
  text-align: center;
}

.c-header-logo img {
  height: 100px;
  margin-top: 18px;
  border: 10px solid white;
  border-radius: 70px 70px 0 0;
}

.c-header-nav {
  width: 33%;
}

.c-header-nav ul li {
  list-style: none;
  display: inline-block;
  margin-top: 2.5px;
}

.c-header-nav ul li a {
  color: grey;
  text-decoration: none;
  padding: 25px 15px;
  transition: 0.03s ease-in;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 300;
}

.c-header-nav ul li:nth-child(1) a {
  padding-left: 0;
}

.c-header-nav ul li a:hover {
  text-decoration: underline;
  color: black;
}

/* footer elemental */

.c-footer {
  width: 100%;
  margin-top: 100px;
  padding: 0 0 10px;
  text-align: center;
  border-top: 0.5px solid grey;
}

.c-footer-nav ul li {
  display: inline-block;
  list-style: none;
  color: grey;
}

.c-footer-nav ul li:nth-child(2n) {
  padding: 0 22px;
}

.c-footer-nav ul li a {
  color: grey;
  transition: 0.03s ease-in;
  text-decoration: none;
}

.c-footer-nav ul li a:hover {
  color: black;
  text-decoration: underline;
}

/* mein profile page */

/* profile section */

.profile-section {
  width: 100%;
}

.profile-section-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 110px 0;
  display: -webkit-box;
}

.profile-section-image-upload {
  width: 50%;
  text-align: right;
}

.profile-section-image-wrapper {
  text-align: right;
  position: relative;
  height: 300px;
}

.profile-section-image-display-bg {
  height: 300px;
  width: 240px;
  position: absolute;
  right: 50px;
  background: grey;
}

.profile-section-image-display {
  height: 300px;
  width: 240px;
  position: absolute;
  right: 50px;
  overflow: hidden;
  background: grey;
  transform: rotate(-2.5deg);
}

.profile-section-image-display img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(6px);
}

.profile-section-upload-icon-wrapper {
  position: absolute;
  z-index: 1;
  width: 80px;
  right: 130px;
  top: 115px;
}

.profile-section-upload-icon-wrapper img {
  width: 100%;
}

.profile-section-image-upload-btn input {
  border: none;
  font-size: 16px;
  width: 240px;
  margin-right: 50px;
  padding: 20px 0;
  margin-top: 10px;
  letter-spacing: 3px;
  background: #F5E069;
  border: 0.5px solid grey;
}

.profile-section-info {
  width: 45%;
}

.profile-edit-section {
  display: -webkit-box;
  padding: 7.5px 0;
}

.profile-edit-section:nth-child(1) {
  padding-top: 0;
}

.profile-edit-section:last-child {
  padding-bottom: 0;
}

.profile-edit-section-title {
  width: 50%;
  font-size: 19px;
}

.profile-edit-section-title-edit {
  float: left;
  height: 20px;
  padding-right: 10px;
  padding-top: 2px;
}

.profile-edit-section-title-detail {
  width: 50%;
  text-align: right;
  font-weight: 300;
  color: grey;
  font-size: 17px;
}

.profile-section-delete-profile {
  padding-left: 30px;
  padding-top: 30px;
}

.profile-section-delete-profile a {
  color: grey;
}

/* find section */

.find-section {
  width: 100%;
  padding-top: 100px;
}

.find-section-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.find-section-title {
  text-align: center;
  font-size: 18px;
  opacity: 0.8;
  letter-spacing: 2.5px;
  padding-bottom: 30px;
}

.find-section-title img {
  height: 13px;
}

.find-result-wrapper {
  max-width: 330px;
  height: 450px;
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: hidden;
  display: -webkit-box;
  padding: 20px 0 0;
}

.find-result-op {
  width: 100%;
  height: 450px;
  position: relative;
}

.find-result-op-img {
  max-width: 280px;
  height: 350px;
  margin: 0 auto;
  transform: rotate(-2.5deg);
  border: 7px solid #CCBFC0;
  border-radius: 7px;
}

.find-result-op-img-bg {
  width: 280px;
  height: 350px;
  background: #F2EEEF;
  position: absolute;
  left: 20px;
}

.find-result-op-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.find-result-op-likes {
  position: absolute;
  z-index: 1;
  top: 22px;
  left: 28px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 7px;
}

.hearty {
    position: absolute;
    background: url(https://abs.twimg.com/a/1446686284/img/t1/web_heart_animation.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
    height: 100px;
    width: 100px;
    left: -20px;
    top: -24px;
}

@-webkit-keyframes play {
   0% { background-position: 0px 0px; }
    100% { background-position: -2800px 0px; }
}

.find-result-op-likes span {
  float: left;
  margin-top: 2.5px;
  padding-left: 35px;
}

.find-result-op-options {
  display: -webkit-box;
  margin-top: -30px;
  position: absolute;
  left: 52.5px;
}

.find-result-op-options button {
  outline: none;
  border: none;
  background: transparent;
}

.find-result-op-options button:nth-child(1) {
  position: absolute;
}

.find-result-op-options button:nth-child(2) {
  margin-top: -10px;
  padding: 0 10px;
  margin-left: 72px;
}

.find-result-op-options button:nth-child(3) {
  float: right;
}

.find-result-op-options img {
  border-radius: 150px;
  height: 60px;
}

.find-result-op-options button:nth-child(2) img {
  border-radius: 150px;
  height: 80px;
}

.find-result-op-info {
  text-align: center;
  font-size: 17px;
  letter-spacing: 2px;
  opacity: 0.9;
  margin-top: 65px;
}























.showchat {
  max-width: 350px !important;
  box-shadow: none !important;
  padding-top: 65px !important;
}

.showchat textarea {
  width: 100%;
  resize: none;
  height: 150px;
  color: red !important;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 1.2px;
  border: 0;
  outline: none;
}

.showchat textarea::-webkit-input-placeholder {
  color: grey;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 1.2px;
}

.chatmessage-count {
  text-align: right;
  margin-bottom: 20px;
  color: grey;
  font-weight: 300;
}

.showchat input[type=submit] {
  width: 80%;
  background: #FECF5D;
  outline: none;
  border: none;
  color: white;
  padding: 30px 0;
  font-weight: bold;
  font-size: 18px;
  border-radius: 7px;
  letter-spacing: 3px;
  display: block;
  margin: 0 auto;
}

.showchat-profile-img {
  height: 90px;
  width: 90px;
  position: absolute;
  left: 36%;
  top: -45px;
}

.showchat-profile-img img {
  border-radius: 150px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* contact page */

.contact-section {
  width: 100%;
  padding-top: 150px;
}

.contact-section-wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.contact-section-tagline {
  font-size: 20px;
  color: grey;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 2.9px;
  text-align: justify;
}

.contact-section-form {
  //max-width: 320px;
  margin-top: 32px;
}

.contact-section-form form input[type=email] {
  width: 300px;
  padding: 10px;
  color: grey;
  font-size: 18px;
  font-weight: 300;
}

.contact-section-form form textarea {
  width: 300px;
  padding: 10px;
  color: grey;
  font-size: 18px;
  font-weight: 300;
  height: 140px;
  resize: none;
  margin: 14px 0 9px;
}

.contact-section-form form input[type=submit] {
  width: 100%;
  padding: 20px 0;
  color: grey;
  font-size: 18px;
  font-weight: 300;
  background: #F5E069;
  color: black;
  border: 0.5px solid grey;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 300;
}

/* payment page */

.payment-section {
  width: 100%;
  //margin-top: 120px;
}

.payment-section-header{
  padding: 120px 0 100px;
  background-image: url(../media/payment-bg.jpg);
  position: relative;
  z-index: -1;
  width: 100%;
}

.payment-section-header-bg-opacited{
  background: rgba(0,0,0,0.9) !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index:-1;
}

.payment-section-tagline {
  max-width: 1050px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 300;
  line-height: 30px;
  color: grey;
  margin: 0 auto;
}
.payment-section-wrapper {
  max-width: 1050px;
  margin: 0 auto;
}

.payment-section-tagline a {
  color: orange;
  text-decoration: none;
}

.payment-section-tagline a:hover {
  text-decoration: underline;
}

.payment-section-packages {
  margin-top: 100px;
}

.payment-section-packages-title {
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;
}

.payment-section-packages-option {
  display: -webkit-box;
  margin-top: 25px;
}

.package-display {
  background: #E2D8D9;
  padding: 20px 35px;
  position: relative;
}

.package-display-vip{
  background: #1B1B1B;
}

.package-name {
  text-align: center;
  letter-spacing: 2.5px;
  font-size: 17px;
  font-weight: bold;
}

.package-specifications {
  color: grey;
  font-weight: 300;
  line-height: 32px;
  font-size: 18px;
  letter-spacing: 2.5px;
  margin-top: 30px;
}

.packages-hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #ccc;
  margin: 1em 0;
  padding: 0;
  margin: 20px 0;
}

.package-price {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 3px;
  opacity: 0.9;
}

.has-margin {
  margin-left: 35px;
}

.package-display-popular-tag {
  position: absolute;
  right: -30px;
  top: -40px;
  background: #5EDCB7;
  color: white;
  height: 85px;
  width: 85px;
  border-radius: 100px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 13px;
}

.package-display-popular-tag p {
  padding: 22px 0;
}

.font-black{
  color: black;
}

.font-white{
  color: white;
}

.font-orange{
  color: #D7C11D;
}

.payment-section-payment-options {
  margin-top: 65px;
  display: none;
}

.payment-options-tagline {
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 20px;
}

.payment-options-links {
  display: -webkit-box;
}

.payment-options-links .payment-op:nth-child(2) {
  margin: 0 30px;
}

.payment-options-links .payment-op:nth-child(3) {
  margin-right: 30px;
}

.payment-options-links .payment-op:nth-child(4) img {
  margin-top: 15px;
}

.payment-op {
  max-width: 240px;
  background: #E2D8D9;
  text-align: center;
  padding: 15px 0;
  border-radius: 5px;
}

.payment-op img {
  width: 70%;
}

/* mailbox section */

.mailbox-section {
  width: 100%;
  margin-top: 125px;
  text-align: center;
}

.mailbox-section-wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.mailbox-section-title {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 10px;
  opacity: 0.85;
}

.mailbox-section-tagline {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 4px;
  line-height: 35px;
  margin: 10px 0;
  color: grey;
}

.mailbox-section-start-btn a {
  padding: 30px 50px;
  display: inline-block;
  background: #F5E069;
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  margin-top: 15px;
  border: 0.5px solid grey;
}

/* search section */

.search-section {
  width: 100%;
  margin-top: 200px;
  text-align: center;
}

.search-section-wrapper {
  max-width: 700px;
  margin: 0 auto;
  font-size: 25px;
  color: grey;
  letter-spacing: 2.5px;
  font-weight: 300
}

.search-form input[type=number]::-webkit-inner-spin-button,
.search-form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.search-form input[type=number] {
  width: 35px;
  padding: 5px;
  font-size: 25px;
  color: grey;
  text-align: center;
  border-radius: 6px;
  outline: none;
  border: 1px solid grey;
}

.search-form select {
  padding: 5px;
  font-size: 25px;
  color: grey;
  border-radius: 6px;
}

.search-form input[type=submit] {
  border-radius: 6px;
  background: #FECF5D;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 25px 80px;
  margin: 35px 0 100px;
}